.git
.github
.teamai
.claude
.codex
.vscode
.vite-hooks
**/.next
**/.open-next
**/.wrangler
**/.DS_Store
**/node_modules
**/generated
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
**/.env
**/.env.*
**/.vercel
**/coverage
**/out
**/build
**/dist
**/dist-openapi
*.pem
**/*.tsbuildinfo
!**/.env.example
*.key

